.project-task {
    background: var(--dark-secondary);
    border-radius: 8px; 
    margin: 0.5rem;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.project-task h4 {
    margin: 0; 
    text-align: left; 
}