.project-task {
    background: var(--dark-secondary);
    border-radius: 8px; 
    margin: 0.5rem;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    padding: 0.5rem;
}

.project-task p {
    margin: 0; 
    text-align: left; 
}

.assigned-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

.assigned-img-container {
    flex-shrink: 0;
}