.project-task {
    background: var(--dark-secondary);
    border-radius: 8px; 
    margin: 0.5rem;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding: 0.5rem;
}

.project-task p {
    margin: 0; 
    text-align: left; 
}