@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Open Sans', sans-serif;
}

:root {
  --dark-primary: #2D3E4E;
  --dark-secondary: #1A242E;
  --dark-teal: #8CBDB9;
  --dark-lightteal: #E8ECEB;
  --dark-yellow: #E09E50;
  --dark-red: #e05050;
  --dark-fonts: white;
}

.logo {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

button, input, textarea, select, label {
  font-family: 'Open Sans', sans-serif;
}

a {
  font-family: 'Open Sans', sans-serif;
}

.page-button {
    padding: 0.5rem 1rem;
    background-color: var(--dark-teal);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.page-button:hover {
    color: white;
    background-color: var(--dark-lightteal);
}

.tag-container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

.team-tag {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: linear-gradient(45deg, var(--dark-primary) 0%, var(--dark-teal) 100%);
  color: white;
  font-size: 0.75rem;
  border-radius: 25px;
  font-weight: 600;
  border: none;
}

.status-tag {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: linear-gradient(45deg, var(--dark-yellow) 0%, var(--dark-red) 100%);
  color: white;
  font-size: 0.75rem;
  border-radius: 25px;
  font-weight: 600;
  border: none;
}

.deadline-tag {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: linear-gradient(45deg, var(--dark-primary) 0%, var(--dark-teal) 100%);
  color: white;
  font-size: 0.75rem;
  border-radius: 25px;
  font-weight: 600;
  border: none;
  margin-left: auto;
}