.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
}

.profile-img-container {
    flex-shrink: 0;
}

.project-info {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.5rem;
}