.project-details-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
}

.brief {
    text-align: left;
    word-wrap: break-word;
    min-height: 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: inherit;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.team-row {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: left; 
}

.user-actions {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.project-img-row {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: left; 
}

.project-imgs {
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    object-fit: cover;
}

.profile-img-container {
    flex-shrink: 0;
}