.task-container { 
    display: flex;
    flex-direction: column;
}

.task-title {
    display: flex;
    gap: 1rem;
}

.task-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.assigned-user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.assigned-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

.assigned-username {
  font-weight: 500;
}

.deadline {
  font-weight: 500;
  color: var(--dark-teal);
}

